$mainColor: #2abc7f;
$disabledColor: #b2fadc98;
$backgroundColor: #e5e5e5;
$textColor: #151617;
$sideMainColor: #05273a;

$tabWidth: 768px;
$mobWidth: 480px;

@mixin tab {
  @media (max-width: #{$tabWidth}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobWidth}) {
    @content;
  }
}
